
main {
    margin-left: 1rem;
    margin-right: 1rem;
}

main h3 {
    margin-bottom: 0rem;
    font-size: 1.2rem;
}

main p {
    margin-top: 0.5rem;
    margin-bottom: 1.8rem;
}

.space h3 {
    color: #FF3C7F;
}

.evolution h3 {
    color: #A68BFF;
}

.biology h3 {
    color: #4AC6FF;
}

.robotics h3 {
    color: #3CE629;
}

.ecology h3 {
    color: #FFCD42;
}

.top-link {
    color: #fff;
    background-color: #4AC6FF;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.6rem;
    max-width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



/* Exhibition, styling for the top of the page */
/*The container*/
.exhibition-menu {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
}

/*buttons*/
.exhibition-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  min-width: 180px;
  width: 20%;
}

.space-btn {background-color: #e84ca8; }
.evolution-btn { background-color: #9b59b6; }
.biology-btn { background-color: #3498db; }
.robotics-btn { background-color: #2ecc71; }
.ecology-btn { background-color: #f1c40f; }

/*top-image*/
.exhibition-top-img {
    max-width: 800px;
    flex: 1;
    height: 100%;
    display: block;
}

.exhibition-top-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}   



@media (max-width: 650px) {
  .exhibition-menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .exhibition-buttons {
    align-items: center;
  }

  .btn {
    width: auto;
    min-width: 250px;
  }

  .exhibition-top-img {
    order: -1;
    max-width: 80vh;
  }
}



@media (min-width: 768px) {

  main h3 {
    font-size: 1.5rem;
}
    /*Space*/
  .space-images {
    grid-template-columns: 1fr 1fr;
  }

  .moon-top {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
  }

  .space-images {
  display: grid;
  gap: 0.5rem;
}

.moon-top {
  width: 100%;
  display: block;
  grid-column: 1 / -1;
  margin-bottom: 0px;
}

.side-img {
  width: 100%;
  display: block;
  height: 400px;
 width: 100%;
 object-fit: cover;
 object-position: center;
}

    /*Evolution*/
  .evolution div {
    grid-template-columns: 1fr 1fr;
  }

.grid img {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 400px;
}

    /*Robotics and AI*/
.robotics div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .robotics img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 600px;
  }

    /*Ecology*/
.ecology {
    margin-bottom: 2rem;
}

.ecology div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.ecology img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 400px;
}

    /*Evolution*/
.evolution div {
  display: grid;
  gap: 0.5rem;
}
    /*Biology and medicine*/

.biology div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .biology img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 400px;
    margin-bottom: 0.5rem;
  }

  .biology .scull-img {
    height: 500px;
  }
}