.index-section-1 {
    font-size: 1.5rem;
    color: #FF8000;
    margin-top: 2rem;
    font-weight: 400;
}

.banner-events {
    background-color: #4AC6FF;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.index-events {
    font-size: 1rem;
    color: #4AC6FF;
    margin-top: 1rem;
    font-weight: 700;
}

.news {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #FFF0E0;
}

.news h4 {
    color: #FF8000;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.news h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    font-weight: 600;
}

