

.hero-text {
    position: absolute;
    max-width: 15rem;
    top: 20%;
    left: 4%;
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}

.hero-text p {
    margin: 0;
}

.index-info {
    margin-left: 1rem;
    margin-right: 1rem;
}

.index-info h2{
    font-size: 1.3rem;
    color: #FF8000;
    margin-top: 2rem;
    font-weight: 400;
}

.banner-events {
    background-color: #4AC6FF;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.index-events {
    margin-left: 1rem;
    margin-right: 1rem;
}

.index-events h3 {
    font-size: 1rem;
    color: #4AC6FF;
    margin-bottom: 0px;
    margin-left: 0px;
}

.index-events p {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 2rem;
}

.index-events a {
    color: #000;
}

.news {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #FFF0E0;
}

.news h4 {
    color: #FF8000;
    font-size: 1.2rem;
    margin-bottom: 0rem;
    margin-top: 0px;
    padding-left: 1rem;
}

.news h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    font-weight: 600;
    padding-left: 1rem;
}

.news p {
    margin-top: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
}



@media (max-width: 600px) {

    .index-events p {
        font-size: 0.9rem;
    }
}