body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 1rem;
    margin: 0px;
}

.logo {
    font-family: 'Megrim', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-top: 2rem;
    margin-left: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

header a {
    text-decoration: none;
    color: #000;
}

.hero-section {
    background-image: url('../images/metal-webb.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 30vh; /*Change to grater value (70vh?) when moving on to bigger screens*/
    background-position: center;

}

.hero-section a {
    text-decoration: none;
    color: #24a7ff91;
}

.banner {
    background-color: #FF8000;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer {
    background-color: #FF8000;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
    padding-left: 1.5rem;  
}

footer a {
    color: #fff;
    font-weight: 700;
}





@media (max-width: 600px) {
    body,
    footer {
        font-size: 0.9rem;
    }
}