body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  font-size: 1rem;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

@media (min-width: 768px) {
  header .banner {
  flex-basis: 100%;
  width: 100%;
  display: block;
  order: 2;
}
}

@media (max-width: 767px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger-menu {
    margin-left: auto;
  }
}

.logo {
  font-family: 'Megrim', cursive;
  font-size: clamp(1.3rem, 5.5vw, 5.5rem);
  font-weight: 500;
  color: #000;
  text-decoration: none;
  margin-top: 2rem;
  margin-left: 1rem;
}

@media (max-width: 767px) {
  .logo {
    margin-top: 1rem;
  }
}

header a {
  text-decoration: none;
  color: #000;
}

.orange-cta {
  color: #ff8000;
}


/* ---------------- HAMBURGER MENU ---------------- */
.hamburger-menu {
  background-color: #fff;
}

/* skjul checkbox */
.menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.hamburger-top {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.hamburger-menu li {
  height: 50px;
}

.hamburger-top li:first-child {
  margin-right: auto;
}

.hamburger-menu a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ff8000;
}

.menu-icon {
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu a:hover,
.menu-icon:hover {
  background-color: #ff8000;
  color: #fff;
}

.hamburger-list {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #fff0e0;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  transform: translateX(100%);
  transition: transform 0.25s ease;
  pointer-events: none;
}

.hamburger-list li {
  width: 100%;
}

.hamburger-list a {
  width: 100%;
}

.hamburger-close-row {
  display: flex;
  justify-content: flex-end;
}

/* Overlay */
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 998;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.menu-toggle:checked ~ .hamburger-list {
  transform: translateX(0);
  pointer-events: auto;
  border: #ff8000 1px solid;
}

.menu-toggle:checked ~ .menu-overlay {
  opacity: 1;
  pointer-events: auto;
}

.desktop-menu {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  color: #000;
}

.current-page {
  border-bottom: 3px solid #ff8000;
  padding-bottom: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

.banner {
  background-color: #ff8000;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.space-between {
  margin-top: 1rem;
}

footer {
  background-color: #ff8000;
  color: #fff;
  padding: 1rem;
  margin-top: 5rem;
  padding-left: 1.5rem;
}

footer a {
  color: #fff;
  font-weight: 700;
}

/* mobile device by default */
.desktop-menu {
  display: none;
}

@media (max-width: 600px) {
  body,
  footer {
    font-size: 0.9rem;
  }

  footer p {
    margin-bottom: 3px;
    margin-top: 3px;
  }
}

@media (min-width: 600px) {
  body {
    margin: 0 auto;
    max-width: 1200px;
  }

  .desktop-menu {
    font-size: clamp(1.2rem, 1.8vw, 1.8rem);
    justify-content: left;
    gap: clamp(2.5rem, 3.3vw, 4rem);
  }

  body,
  footer {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .desktop-menu {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-nav {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .banner {
    margin-top: 0.5rem;
  }
}
