main {
    margin-left: 1rem;
    margin-right: 1rem;
}

main h3 {
    margin-bottom: 0px;
    font-size: 1.2rem;
    font-weight: 700;
}

main p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.space-over {
    margin-top: 2rem;
}


@media (min-width: 678px) {
  .map {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.cafe-img {
    max-height: 1000px;
}